# Exclude everything
/*
*.log
*.bak
*back
*.png
*.jp*g
*cache
*.zip
*.svg
*history.txt
/alacritty/themes
/fish/functions
/fish/completions
/fish/fish_plugins

# Include these
!.gitignore
!README.md
!mimeapps.list
!.gtkrc-2.0.mine
!starship.toml
!topgrade.toml
!Trolltech.conf
!.bashrc
!.bash_profile
!.xinitrc
!.Xresources
!.yarnrc.yml
!package.json

!/alacritty
!/bottom
!/btop
!/cava
!/dunst
!/fish
!/gtk-3.0
!/gtk-4.0
!/helix
!/hypr
!/i3
!/Kvantum
!/mako
!/MangoHud
!/nushell
!/paru
!/pipewire
!/qutebrowser
!/rofi
!/sway
!/swaylock
!/waybar
!/xsettingsd
!/yay
!/zathura
!/zellij
