[core]
    pager = delta
    compression = 0
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    tool = difftastic
    colorMoved = default
    algorithm = histogram
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[tag]
    sort = "version:refname"
[gpg]
    program = gpg
[alias]
    dft = difftool
    dlog = "-c diff.external=difft log -p --ext-diff"
