# Exclude everything
/*
*.log
*.bak
*back
*.png
*.jp*g
*cache
*.zip
*.svg
*history.txt
/alacritty/themes

# Include these
!.gitignore
!README.md
!mimeapps.list
!.gtkrc-2.0
!starship.toml
!topgrade.toml
!Trolltech.conf
!.bashrc
!.bash_profile
!.xinitrc

!/alacritty
!/bottom
!/btop
!/cava
!/dunst
!/fcitx5
!/fish
!/gtk-3.0
!/gtk-4.0
!/helix
!/hypr
!/i3
!/Kvantum
!/mako
!/MangoHud
!/nushell
!/paru
!/qutebrowser
!/rofi
!/sway
!/swaylock
!/yay
!/waybar
!/zathura
!/zellij
