* {
  color: white;
  border: none;
  border-radius: 10px;
  min-height: 18px;
  margin: 1px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "ShureTechMono Nerd Font";
  font-size: 18px;
}

window#waybar {
  background: transparent;
  /* border-bottom: 2px; */
}

window#waybar.hidden {
  opacity: 0.2;
}

#window,
#submap {
  min-width: 768px;
  transition: none;
  color: #161320;
  /* color: darkcyan; */
  background: #414559;
}

#workspaces {
  /* background: #332b4e; */
  /* background: darkturquoise; */
  background: transparent;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #b5e8e0;
  background: transparent;
}

#workspaces button.visible {
  color: turquoise;
  background: #414559;
}

#workspaces button.occupied {
  transition: none;
  color: #f28fad;
  background: darkgreen;
}

#workspaces button.focused {
  color: #abe9b3;
  background: darkturquoise;
  border: 2px solid #abe9b3;
}

#workspaces button:hover {
  transition: none;
  color: #fae3b0;
  /* color: #e8a2af; */
  border-color: #e8a2af;
}

#workspaces button.focused:hover {
  color: #e8a2af;
}

#network,
#pulseaudio,
#wireplumber,
#battery,
#backlight,
#disk,
#memory,
#cpu,
#bluetooth {
  min-width: 80px;
  color: #161320;
  background: #96cdfb;
  /* border: 4px solid #444444; */
}

#network {
  transition: none;
  color: #161320;
  background: #bd93f9;
}

#pulseaudio {
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#wireplumber {
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  transition: none;
  color: #161320;
  background: #f8bd96;
}

#clock {
  transition: none;
  color: #161320;
  background: #abe9b3;
  /*background: #1A1826;*/
}

#disk,
#memory {
  transition: none;
  color: #161320;
  background: #ddb6f2;
}

#cpu {
  color: #161320;
  background: #96cdfb;
}

#bluetooth {
  color: #161320;
  background: #96cdfb;
}

#tray {
  min-width: 128px;
  transition: none;
  color: #b5e8e0;
  background: #161320;
}

#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-launcher {
  transition: none;
  color: #89dceb;
  background: #161320;
}

#custom-power {
  transition: none;
  color: #161320;
  background: #f28fad;
}

#gamemode.running {
  transition: none;
  color: #161320;
  background: #c9cbff;
}

#custom-updates {
  transition: none;
  color: #161320;
  background: #e8a2af;
}

#custom-media {
  transition: none;
  color: #161320;
  background: #f2cdcd;
}
